{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8",
          "chrome": "55",
          "firefox": "53",
          "safari": "10.1"
        }
      }
    ]
  ]
}
